@font-face {
    font-family: 'ImpactMy';
    font-weight: normal;
    src: url('../fonts/ImpactRegular/ImpactRegular.eot');
    src: url('../fonts/ImpactRegular/ImpactRegular.eot') format('embedded-opentype'),
         url('../fonts/ImpactRegular/ImpactRegular.woff') format('woff'),
         url('../fonts/ImpactRegular/ImpactRegular.ttf') format('truetype')
}