html{
    height: 100%;
}
body{
    font-family: "ImpactMy", sans-serif;	
    color: #0d7131;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;;
    background: #0fd2f9;
    letter-spacing: normal;
    line-height: normal;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,select,button,.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}
.wrap{
    min-height: 100%;
    width: 100%;
    background-size: cover;
    display: initial;
}
.wrap-container{
    box-sizing:border-box;
    max-width: 1920px;
    min-width: 320px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    position: relative;
    background: url('../img/bg.jpg') 50% 0 no-repeat #009de1;
    background-size: cover;
}
header{
    height: 293px;
    position: relative;
    text-align: center;
    z-index: 10;
    background: url('../img/header-bg.png') 100% 0 no-repeat transparent;
}
.header-slogan{
    display: inline-block;
    width: 252px;
    height: 152px;
    background: url('../img/slogan1.png') 100% 0 no-repeat transparent;
    background-size: cover;
    position: absolute;
    left: 325px;
    top: 100px;
}
.header-logo {
    display: inline-block;
    width: 324px;
    height: 97px;
    background: url('../img/logo.png') 100% 0 no-repeat transparent;
    background-size: cover;
    position: absolute;
    right: 5px;
    top: 7px;
}
.header-menu{
    position: absolute;
    top: 75px
}
.header-menu li{
    list-style: none;
    float: left;
    margin: 0 -3px;
}
.header-menu li.active{
    margin: 0 -7px 0 -11px;
}
.header-menu li a{
    display: inline-block;   
}
.header-menu .btn-angle.active a {
    height: 48px;
    margin: 0px 24px;
}
.header-menu .btn-angle.active a:before, .header-menu .btn-angle.active a:after {
    width: 25px;
}
.header-menu .header-login-block{
    display: inline-block;
    width: 180px;
    height: 108px;
    background: url('../img/login-bg.png') 0 0 no-repeat transparent;
    position: absolute;
    padding: 57px 0 0 32px;
    text-align: left;
    margin-top: -10px;
    box-sizing: content-box;
}
.header-login-block a{
    display: block;
    font-size: 25px;
    color: #008dcd;
    text-decoration: none;
    font-style: italic;
}
.wrap-header .menu-toggle{
    display: none;
    width: 50px;
    height: 50px;
    background: url('../img/menu-tg.png') 0 0 no-repeat transparent;
    position: absolute;
    right: 30px;
    top: 24px;
    background-size: cover;
    clear: both;
    z-index: 112;
}
.wrap-content{
    min-height: 550px;
    padding-bottom: 30px;
}
.content .content-inner{
    margin: 0 auto;
    position: relative;
    //z-index: 5;
    width: 100%;
}
.content:after,
.content .content-inner:after{
    content: '';
    clear: both;
    display: block;
}
.wrap-footer{
    width: 100%;
    margin-top: -30px;
    background: url('../img/footer-bg.png') 50% 0 repeat-x transparent;
    padding-top: 59px;
    //position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    position: relative;
}
.wrap-footer-inner{
    background: #00cff7;
}
.footer{
    text-align: center;
}
.footer-menu{
    display: inline-block;
    padding: 24px 0;
}
.footer-menu li{
    display: inline-block;
    padding: 1px 15px;
}
.footer-menu li:first-child{
    border-left: none;
}
.footer-menu li,
.footer-menu li a{
    font-family: Arial;
    color: #0275b8;
    font-style: italic;
}
.footer-menu li a:hover{
    text-decoration: none;
}

/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

.btn-angle{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}
.btn-angle a,
.btn-angle>span{
    display: block;
    background: #fff;
    padding: 3px 6px;
    height: 36px;
    margin: 0 19px;
    box-sizing: border-box;
    font-size: 25px;
    color: #ff7c00;
    text-decoration: none;
    font-style: italic;
}
.btn-angle a:before,
.btn-angle a:after,
.btn-angle>span:before,
.btn-angle>span:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 21px;
    background: url('../img/btn-bg-l.png') 0% 50% no-repeat transparent;
}
.btn-angle a:after,
.btn-angle>span:after{
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    background: url('../img/btn-bg-r.png') 100% 0% no-repeat transparent;
}
.btn-angle.active a,
.btn-angle.active span{
    background: #ff7c00;
    color: #fff;
    height: 40px;
    margin: 0 22px;
}
.btn-angle.active a:before,
.btn-angle.active a:after,
.btn-angle.active span:before,
.btn-angle.active span:after{
    width: 23px;
    background: url('../img/btn-bg-active-l.png') 0% 50% no-repeat transparent;
}
.btn-angle.active a:after,
.btn-angle.active span:after{
    background: url('../img/btn-bg-active-r.png') 100% 0% no-repeat transparent;
}
.btn-angle.btn-angle-blue a{
    background: #005cbc;
    color: #fff;
}
.btn-angle.btn-angle-blue a:before{
    background: url('../img/btn-bg-blue-l.png') 0% 50% no-repeat transparent;
}
.btn-angle.btn-angle-blue a:after{
    background: url('../img/btn-bg-blue-r.png') 100% 0% no-repeat transparent;
}
.btn-angle.btn-angle-blue.active a{
    background: #fff;
    color: #005cbc;
}
.btn-angle.btn-angle-blue.active a:before{
    background: url('../img/btn-bg-l.png') 0% 50% no-repeat transparent;
}
.btn-angle.btn-angle-blue.active a:after{
    background: url('../img/btn-bg-r.png') 100% 0% no-repeat transparent;
}

/* content-index */
.content-index{
    position: relative;
    margin-top: 0;
}
.content-index .index-prizes-1 {
    background: url('../img/index-bg-top.jpg') 50% 0% no-repeat transparent;
    width: 100%;
    height: 510px;
    margin-top: -45px;
    display: block;
    text-decoration: none;
}
.content-index .index-prizes-1 .i-prize-text{
    position: absolute;
    left: 50%;
    margin-left: 115px;
    top: 30px;
}
.content-index .index-prizes-1 .i-prize-text span{
    font-size: 83px;
    color: #fff;
    font-style: italic;
    display: block;
}
.content-index .index-prizes-1 .i-prize-text span:nth-child(1){
    display: block;
}
.content-index .index-prizes-1 .i-prize-text span:nth-child(2){
    font-size: 70px;
    margin: -15px 0 0 100px;
    text-decoration: underline;
}
.content-index .index-prizes-1 .i-prize-text span:nth-child(3){
    margin: -10px 0 0 210px;
}
.content-index .index-prizes-2{
    background: url('../img/index-bottom-bg.png') 50% 0% no-repeat transparent;
    width: 100%;
    height: 705px;
    margin-top: -175px;
    position: relative;
    display: block;
    text-decoration: none;
}
.content-index .index-prizes-2 .i-prize-text-1{
    position: absolute;
    left: 50px;
    top: 200px;
    font-size: 66px;
    color: #fff;
    font-style: italic;
}
.content-index .index-prizes-2 .i-prize-text-2{
    position: absolute;
    left: 570px;
    top: 290px;
    font-size: 80px;
    color: #fff;
    font-style: italic;
}
.content-index .index-prizes-2 .i-prize-text-3{
    position: absolute;
    right: 60px;
    bottom: 50px;
    font-size: 70px;
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}
.content-index .index-prizes-2 .i-prize-block-1{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 845px;
    height: 403px;
    background: url('../img/index-prize-1.png') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-index .index-prizes-2 .i-prize-block-2{
    position: absolute;
    right: 115px;
    top: 30px;
    width: 756px;
    height: 497px;
    background: url('../img/index-prize-2.png') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-index .index-prizes-2 .i-prize-arrow{
    position: absolute;
    left: 740px;
    top: 390px;
    width: 352px;
    height: 115px;
    background: url('../img/index-arrow.png') 50% 50% no-repeat transparent;
    background-size: cover;
}
.content-index .index-promo1-link_1{
    position: absolute;
    right: 0px;
    top: 33px;
    width: 1308px;
    height: 235px;
    z-index: 16;
}
.content-index .index-promo1-link_2{
    position: absolute;
    left: 0px;
    top: 343px;
    width: 1035px;
    height: 170px;
    z-index: 16;
}

/* content-promo1*/
.content-promo1 {
    background: url('../img/promo1-bg.png') 20% 0% no-repeat transparent;
    width: 100%;
    min-height: 510px;
    margin-top: -78px;
    margin-bottom: -90px;
    padding-bottom: 100px;
}
.content-promo1 .promo1-title{
    display: block;
    width: 460px;
    height: 205px;
    margin: 60px auto 0 auto !important;
    background: url('../img/promo1-title.png') 50% 0% no-repeat transparent;
}
.content-promo1 .promo1-steps{
    margin: -10px auto 0 auto;
    display: block;
    text-align: center;
}
.content-promo1 .promo1-step-1{
    display: inline-block;
    font-size: 52px;
    line-height: 113%;
    font-style: italic;
    color: #fff;
    margin-right: 85px;
    vertical-align: bottom;
    position: relative;
    padding-top: 195px;
}
.content-promo1 .promo1-step-1 .promo1-step-1-img{
    display: inline-block;
    position: absolute;
    width: 299px;
    height: 186px;
    top: 0;
    left: 0;
    background: url('../img/promo1-step-1.png') 50% 50% no-repeat transparent;
}
.content-promo1 .promo1-step-1 .promo1-arrow{
    display: inline-block;
    position: absolute;
    width: 297px;
    height: 125px;
    top: 75px;
    right: -165px;
    background: url('../img/promo1-arr.png') 50% 50% no-repeat transparent;
}
.content-promo1 .promo1-step-1 span:nth-of-type(2){
    font-size: 130%;
}
.content-promo1 .promo1-step-1 span:nth-of-type(4){
    font-size: 130%;
    display: block;
}
.content-promo1 .promo1-step-2{
    display: inline-block;
    font-size: 52px;
    line-height: 113%;
    font-style: italic;
    color: #fff;
    vertical-align: bottom;
    position: relative;
    padding-top: 80px;
}
.content-promo1 .promo1-step-2 .promo1-step-2-img{
    display: inline-block;
    position: absolute;
    width: 351px;
    height: 356px;
    top: -130px;
    right: -195px;
    background: url('../img/promo1-step-2.png') 50% 50% no-repeat transparent;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1){
    padding-left: 90px;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1)>span{
    display: block;
    text-align: left;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1)>span:nth-of-type(1){
    font-size: 130%;
    padding-left: 8px;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(2){
    font-size: 215%;
    line-height: 88%;
    display: inline-block;
    vertical-align: top;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(3){
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(3) span{
    display: block;
    padding-left: 8px;
}
.content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(3) span:nth-of-type(2){
    font-size: 130%;
    margin-left: -13px;
}
.promo1-note-block{
    margin: 80px auto 0 auto;
    text-align: center;
    height: 281px;
    position: relative;
}
.promo1-note{
    display: inline-block;
    vertical-align: top;
}
.btn-promo1-note a{
    display: none;
    color: #1483cd;
}
.btn-promo1-note a.active{
    display: inline-block;
}
.promo1-note-text{
    display: block;
    margin: -17px auto 0 auto;
    background: url('../img/promo1-note.png') 50% 50% no-repeat transparent;
    width: 806px;
    height: 242px;
    padding: 55px;
    box-sizing: border-box;
    font-size: 24px;
    color: #fff;
}
.btn-promo1-buy{
    display: inline-block;
    vertical-align: top;
}

.content .content-menu{
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    margin: 40px auto 20px auto;
}
.content .content-menu li a {
    text-transform: uppercase;
}

/* content-promo2*/
.content-promo2 {
    padding-bottom: 60px;
    font-style: italic;
    color: #fff;
}
.content-promo2 .promo2-title{
    text-align: center;
    font-size: 53px;
    margin-top: 30px;
}
.content-promo2 .promo2-title span:nth-child(1){
    font-size: 70%;
}
.content-promo2 .promo2-title span:nth-child(2){
    font-size: 115%;
}
.content-promo2 .content-menu{
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    margin: 40px auto 20px auto;
}
.content-promo2 .content-menu li a{
    font-size: 23px;
    padding: 2px 10px;
    height: 31px;
}
.content-promo2 .content-menu .btn-angle.active a{
    font-size: 30px;
    height: 40px;
}
.content-promo2 .mehanika-block{
    margin: 0 auto 20px auto;
    text-align: center;
}
.content-promo2 .mehanika{
    display: inline-block;
    vertical-align: middle;
}
.content-promo2 .mehanika>div{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    background: url('../img/promo2-step-1.png') 50% 0% no-repeat transparent;
    padding-top: 110px;
    margin-right: 30px;
}
.content-promo2 .mehanika>div:nth-of-type(2){
    background-image: url('../img/promo2-step-2.png');
    margin-right: 60px;
}
.content-promo2 .mehanika>div:nth-of-type(3){
    background-image: url('../img/promo2-step-3.png');
    margin-right: 50px;
}
.content-promo2 .mehanika>div:nth-of-type(4){
    background-image: url('../img/promo2-step-4.png');
}
.content-promo2 .promo2-prize-1{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/promo2-prize-1.png');
    width: 614px;
    height: 288px;
}
.promo2-text-1,
.promo2-text-2,
.promo2-text-3{
    font-size: 45px;
    display: block;
    text-align: center;
}
.promo2-text-1 span,
.promo2-text-2 span{
    font-size: 140%;
}
.promo2-text-3{
    margin-top: 30px;
}
.promo2-text-3 span{
    font-size: 70%;
}
.content-promo2 .promo2-prize-2{
    display: block;
    vertical-align: bottom;
    background-image: url('../img/promo2-prize-2.png');
    width: 470px;
    height: 310px;
    margin: 20px auto 0 auto;
}

/* content-cars */
.content-cars .content-menu{
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    margin: 90px auto 10px auto;
}
.content-cars .content-menu li {
    margin-bottom: 10px;
}
.content-cars .content-menu li a{
    font-size: 23px;
    padding: 2px 10px;
    height: 31px;
}
.content-cars .cars-submenu .content-menu {
    margin: 10px auto 10px auto;
}
.content-cars .car-list{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.content-cars .car-list .car-item{
    display: inline-block;
    width: 272px;
    height: 210px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.content-cars .car-list .car-img{
    height: 70%;
    text-align: center;
}
.content-cars .car-list .car-img img{
    max-width: 100%;
    max-height: 135px;
    text-align: center;
}
.content-cars .car-list .car-name{
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    font-family: 'Arial';
    color: #465660;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    line-height: normal;
    vertical-align: bottom;
    padding-right: 5px;
}
#car-popup .car-img{
    width: 800px;
    text-align: center;
    padding-top: 80px;
}
#car-popup .car-img img{
    max-width: 100%;
    max-height: 100%;
}
.modal-car{
    background-image: url('../img/popup-bg.jpg');
    background-size: cover;
    position: relative;
}
.modal-car .car-name{
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}
.fancybox-overlay {
    background-color: rgba(0, 141, 205, 0.5);
}
.fancybox-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: block;
    background: url('../img/close-popup.jpg') 50% 0% no-repeat transparent;
}

/* content-shops */
.content-shops .shops-title{
    color: #fff;
    font-size: 48px;
    font-style: italic;
    margin: 60px auto;
    text-align: center;
}
.content-shops .shop-list{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    
}
.content-shops .shop-list .shop-item{
    display: inline-block;
    width: 365px;
    height: 220px;
    line-height: 220px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    vertical-align: top;
}
.content-shops .shop-list .shop-item a{
    display: block;
    height: 100%;
}
.content-shops .shop-list .shop-img img{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.content-shops .shop-list .shop-name{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 24px;
    color: #ff7c00;
    width: 340px;
    text-align: left;
    line-height: normal;
}

/* content-prizes */
.content-prizes .content-inner{
    text-align: center;
    padding-top: 30px;
}
.content-prizes .prizes-title>span{
    background: #ff7c00;
    color: #fff;
    height: auto;
    margin: 0 33px;
    padding: 3px 25px;
    font-size: 32px;
    text-transform: uppercase;
}
.content-prizes .prizes-title>span:before,
.content-prizes .prizes-title>span:after{
    width: 33px;
    background: url('../img/btn-bg-active-l.png') 0% 50% no-repeat transparent;
    background-size: cover;
}
.content-prizes .prizes-title>span:after{
    background: url('../img/btn-bg-active-r.png') 100% 0% no-repeat transparent;
    background-size: cover;
}
.content-prizes .week-prizes-block{
    margin-top: 50px;
}
.content-prizes .week-prizes-block>div,
.content-prizes .super-prizes-block>div{
    display: inline-block;
    vertical-align: top;
    font-size: 32px;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    box-sizing: content-box;
    height: 250px;
    text-align: left;
}
.content-prizes .week-prizes-block>div.week-prize-1{
    margin-right: 40px;
    width: 135px;
    padding-left: 160px;
    background: url('../img/prize-1.png') 50% 45px no-repeat transparent;
}
.content-prizes .week-prizes-block>div.week-prize-2{
    width: 335px;
    margin-right: 20px;
    background: url('../img/prize-2.png') 35% 55px no-repeat transparent;
}
.content-prizes .week-prizes-block>div.week-prize-3{
    width: 260px;
    padding-left: 25px;
    background: url('../img/prize-3.png') 0% 45px no-repeat transparent;
}
.content-prizes .week-prizes-block>div.week-prize-4 {
    width: 320px;
    padding: 35px 130px 0 80px;
    height: 285px;
    margin: -34px 0 0 -40px;
    background: url('../img/prize-4.png') 0 0 no-repeat transparent;
}
.content-prizes .prizes-title-2 span{
    padding: 3px 45px;
    font-size: 42px;
}
.content-prizes .super-prizes-block{
    margin-top: 45px;
}
.content-prizes .super-prizes-block>div{
    height: 370px;
}
.content-prizes .super-prizes-block>div.super-prize-1 {
    margin-right: 40px;
    width: 245px;
    padding-left: 50px;
    padding-right: 45px;
    background: url('../img/prize-5.png') 0% 45px no-repeat transparent;
}
.content-prizes .super-prizes-block>div.super-prize-2 {
    width: 230px;
    padding-left: 5px;
    margin-right: 20px;
    background: url('../img/prize-6.png') 0 55px no-repeat transparent;
}
.content-prizes .super-prizes-block>div.super-prize-3 {
    width: 215px;
    padding-left: 25px;
    background: url('../img/prize-7.png') 0% 55px no-repeat transparent;
}
.content-prizes .super-prizes-block>div.super-prize-4 {
    width: 145px;
    height: 285px;
    padding-left: 12px;
    background: url('../img/prize-8.png') 0 45px no-repeat transparent;
}
.content-prizes .prizes-title-3>span{
    font-size: 39px;
}
.content-prizes .prizes-title-3>span>span{
    font-size: 50px;
}

/* content-gallery */
body.promo2.gallery .filters{
    z-index: 20;
}
.gallery-content {
    display: block !important;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1300px;
}
.gallery-content .picture {
    overflow: hidden;
    width: 400px;
    display: inline-block;
    float: none;
}
.picture-content .lower-bar {
    text-align: left;
    position: relative;
}
.ya-share2, .ya-share2 * {
    display: inline-block;
    vertical-align: bottom;
}
.picture-content .lower-bar .name {
    display: inline-block;
    vertical-align: bottom;
    font-size: 15px;
    width: 210px;
    max-width: none;
}
body.promo2.gallery.locale-ru .gallery-container .name {
    font-size: 15px;
    max-width: none;
}
.picture-content .lower-bar .link {
    padding-right: 50px;
    margin-right: 0;
    float: none;
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 5px;
    width: 28px;
    height: 31px;
    font-size: 18px;
}
body.promo2.gallery.locale-ru .gallery-container .vote {
    margin-right: 10px;
}
.picture-content .lower-bar {
    font-size: 28px;
}
@media (max-width: 991px){
    body.promo2.gallery.locale-ru .gallery-container .vote {
        font-size: 16px;
    }
}
@media (max-width: 767px){
    .picture-content .lower-bar {
        font-size: 28px;
    }
    .gallery-content .picture {
        width: 320px;
    }
    body.promo2.gallery.locale-ru .gallery-container .name {
        font-size: 15px;
    }
}
body.promo2.profile .picture.not-validated .picture-content .ya-share2 {
    display: none;
}
body.promo2.profile .picture .ya-share2{
    margin-right: 55px;
    padding: 0.5em 0 0 0;
    float: right;
}
body.promo2.profile .picture .lower-bar .link {
    top: 9px;
}

@media only screen and (min-width : 1920px) {
    .header-menu {
        right: 0;
        left: 657px;
    }
    .header-login-block{
        right: 15px;
    }
    .content{
        margin-top: -175px;
    }
    .content .content-menu{
        text-align: left;
        margin: 75px 0 10px 650px;
    }
    .content .content-inner {
        padding-top: 50px;
    }
    .content-promo2 .content-menu {
        margin-top: 35px;
    }
    .content.content-promo2 .content-inner {
        padding-top: 0px;
    }
    .content-promo2 .promo2-title {
        padding-left: 50px;
    }
    .content-promo2 .mehanika>div{
        font-size: 28px;
    }
    .content-gallery .weeks-menu{
        text-align: left;
        margin: 10px 0 15px 624px;
    }
    .content-gallery .filter-block{
        text-align: left;
        margin: 10px 0 20px 601px;
    }
    .content-cars .content-menu.menu-car-years{
        margin: 35px 0 20px 630px;
    }
    .content-cars .cars-submenu .content-menu {
        margin: 25px 0 10px 630px;
    }
    .content-shops .shops-title{
        margin: 10px 0 60px 670px;
        text-align: left;
    }
    .content-promo1 .promo1-step-1 {
        margin-left: -160px;
    }    
    .promo1-note-block{
        margin-top: 80px;
    }
    body.promo2.profile .content.content-promo2 {
        margin-top: -78px;
        padding: 0;
    }
}
@media only screen and (min-width : 1280px) and (max-width : 1919px) {
    header{
        height: 200px;
        background-position: 0 -292px;
    }
    .header-slogan{
        left: 10px;
        top: 30px;
    }
    .header-menu {
        right: 217px;
    }
    .header-menu li.active{
        margin: 0 -7px 0 -9px;
    }
    .header-menu .header-login-block {
        margin-left: -30px;
    }
    .header-logo {
        width: 220px;
        height: 65px;
        right: 5px;
        top: 7px;
    }
    .content{
        margin-top: -78px;
    }
    .content-index{
        margin-top: 0;
    }
    .content-index .index-prizes-1 {
        margin-top: -85px;
    }
    .content-index .index-prizes-1 .i-prize-text{
        margin-left: -30px;
        top: 30px;
    }
    .content-index .index-prizes-1 .i-prize-text span{
        font-size: 63px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(2){
        font-size: 50px;
        margin: -15px 0 0 70px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(3){
        margin: -10px 0 0 140px;
    }
    .content-index .index-prizes-2 .i-prize-text-1{
        left: auto;
        right: 48%;
        top: 210px;
        font-size: 43px;
    }
    .content-index .index-prizes-2 .i-prize-text-2{
        left: auto;
        right: 50%;
        top: 265px;
        font-size: 53px;
    }
    .content-index .index-prizes-2 .i-prize-text-3{
        right: auto;
        left: 50%;
        bottom: 243px;
        font-size: 48px;
    }
    .content-index .index-prizes-2 .i-prize-block-1{
        left: 0px;
        bottom: 20px;
        width: 760px;
        height: 360px;
    }
    .content-index .index-prizes-2 .i-prize-block-2{
        right: 50%;
        margin-right: -620px;
        top: 30px;
        width: 540px;
        height: 355px;
    }
    .content-index .index-prizes-2 .i-prize-arrow{
        left: auto;
        right: 50%;
        top: 335px;
        width: 228px;
        height: 73px;
    }
    .content-index .index-promo1-link_1{
        left: 277px;
        top: 43px;
        width: auto;
    }
    .content-index .index-promo1-link_2{
        left: 0px;
        top: 343px;
        width: 56%;
        height: 170px;
    }
    .content-promo1 {
        margin-top: -136px;
    }
    .content-promo1 {
        background-position: 28% 0%;
    }
    .promo1-note-block {
        margin: 175px auto 0 auto;
    }
    .promo1-note {
        margin-left: 170px;
    }
    .content-promo1 .promo1-step-1 .promo1-step-1-img{
        width: 250px;
        height: 155px;
        left: 20px;
        top: 20px;
        background-size: cover;
    }
    .content-promo1 .promo1-step-1 .promo1-arrow{
        top: 100px;
    }
    .content-promo1 .promo1-step-2{
        font-size: 45px;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-img{
        width: 247px;
        height: 260px;
        top: -74px;
        right: -135px;
        background-size: cover;
    }
    .content-promo1 .content-inner {
        padding-top: 40px;
    }
    body.promo2.profile .content.content-promo2 {
        margin-top: -78px;
        padding: 0;
    }
    .content-promo2 .promo2-title{
        margin-bottom: 30px;
    }
    .content-promo2 .promo2-prize-1 {
        margin-top: 30px;
    }
    .content-shops .shops-title {
        margin-top: 20px;
    }
    .content-cars .content-menu {
        margin: 49px 0 10px 280px;
        text-align: left;
    }
    .content-cars .cars-submenu .content-menu {
        margin: 15px 0 10px 280px;
        text-align: left;
    }
    .content-prizes .week-prizes-block>div{
        font-size: 27px;
    }
    .content-prizes .week-prizes-block>div.week-prize-1 {
        margin-right: 40px;
        width: 135px;
        padding-left: 103px;
        background-position: 50% 45px;
        background-size: 85%;
    }
    .content-prizes .week-prizes-block>div.week-prize-2 {
        width: 278px;
        margin-right: 20px;
        background-position: 35% 55px;
        background-size: 58%;
    }
    .content-prizes .week-prizes-block>div.week-prize-3 {
        width: 260px;
        padding-left: 25px;
        background-position: 0% 45px;
        background-size: 60%;
    }
    .content-prizes .week-prizes-block>div.week-prize-4 {
        width: 294px;
        padding: 34px 60px 0 21px;
        height: 245px;
        margin: -34px 0 0 -40px;
        background-position: 0% 45px;
        background-size: 100%;
    }
}

@media only screen and (max-width : 1279px) {
    header{
        height: 118px;
        background: #008ed0;
        border-bottom: 14px solid #fff;
    }
    .header-slogan{
        width: 350px;
        height: 88px;
        background-image: url('../img/slogan2.png');
        left: 50%;
        margin-left: -175px;
        top: 0px;
    }
    .header-menu {
        position: relative;
        top: 85px;
        height: 47px;
        margin: 0 auto;
        display: inline-block;
    }
    .header-menu .header-login-block {
        position: relative;
        margin-top: -54px;
    }
    .header-logo {
        width: 220px;
        height: 65px;
        right: auto;
        left: 20px;
        top: 7px;
    }
    .content-index .index-prizes-1 {
        margin-top: -15px;
        height: 445px;
    }
    .content-index .index-prizes-1 .i-prize-text{
        margin-left: -30px;
        top: 30px;
    }
    .content-index .index-prizes-1 .i-prize-text span{
        font-size: 63px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(2){
        font-size: 50px;
        margin: -15px 0 0 70px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(3){
        margin: -10px 0 0 140px;
    }
    .content-index .index-prizes-2 {
        width: 100%;
        height: 1030px;
        margin-top: 0;
        border-top: 10px solid #fff;
        background: url('../img/bg.jpg') 50% 0 no-repeat #009de1;
    }
    .content-index .index-prizes-2 .i-prize-text-1 {
        left: 0;
        right: 0;
        top: 20px;
        font-size: 60px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-2{
        left: 0;
        right: 0;
        top: 450px;
        font-size: 53px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-3{
        right: 0;
        left: 0;
        bottom: 43px;
        font-size: 53px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-block-1{
        left: 50%;
        right: auto;
        bottom: auto;
        margin-left: -330px;
        top: 130px;
        width: 650px;
        height: 305px;
    }
    .content-index .index-prizes-2 .i-prize-block-2{
        right: auto;
        left: 50%;
        margin-left: -270px;
        top: 535px;
        width: 540px;
        height: 355px;
    }
    .content-index .index-prizes-2 .i-prize-arrow{
        left: auto;
        right: 50%;
        top: 335px;
        width: 228px;
        height: 73px;
    }
    .content-index .index-prizes-2 .i-prize-arrow, .content-index .index-promo1-link_1, .content-index .index-promo1-link_2{display: none;} 
    .content-promo1 .content-inner {
        padding-top: 0px;
    }
    .content-promo1 {
        margin-top: 0;
        padding-top: 20px;
    }
    .content-promo1 .promo1-step-1 {
        margin-right: 40px;
        font-size: 35px;
    }
    .content-promo1 .promo1-step-1 .promo1-step-1-img{
        width: 220px;
        height: 135px;
        left: 20px;
        top: 40px;
        background-size: cover;
    }
    .content-promo1 .promo1-step-1 .promo1-arrow{
        width: 190px;
        height: 70px;
        top: 115px;
        right: -130px;
        background-size: cover;
    }
    .content-promo1 .promo1-step-2{
        font-size: 35px;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-img{
        width: 215px;
        height: 220px;
        top: -48px;
        right: -135px;
        background-size: cover;
    }
    .content-cars .content-menu{
        margin-top: 20px; 
    }
    .content-prizes .week-prizes-block>div.week-prize-1,
    .content-prizes .week-prizes-block>div.week-prize-2,
    .content-prizes .week-prizes-block>div.week-prize-3,
    .content-prizes .week-prizes-block>div.week-prize-4,
    .content-prizes .super-prizes-block>div.super-prize-1,
    .content-prizes .super-prizes-block>div.super-prize-2,
    .content-prizes .super-prizes-block>div.super-prize-3,
    .content-prizes .super-prizes-block>div.super-prize-4 {
        font-size: 27px;
        display: block;
        margin: 0 auto 50px auto;
        width: 100%;
        background-position: 50% 45px;
        text-align: center;
        padding: 0;
    }
    .content-prizes .week-prizes-block>div.week-prize-1 {
        background-position: 40% 45px;
    }
    .content-prizes .week-prizes-block>div.week-prize-2 {
        background-position: 50% 55px;
    }
    .content-prizes .week-prizes-block>div.week-prize-3 {
        background-position: 50% 45px;
    }
    .content-prizes .week-prizes-block>div.week-prize-4 {
        background-position: 60% 20px;
        padding-top: 30px;
        margin-top: -30px;
    }
    .content-prizes .super-prizes-block>div.super-prize-1 {
        height: 330px;
    }
    .content-prizes .super-prizes-block>div.super-prize-2 {
        height: 370px;
    }
    .content-prizes .super-prizes-block>div.super-prize-3 {
        height: 170px;
    }
    .content-prizes .super-prizes-block>div.super-prize-4 {
        height: 245px;
    }
}

@media only screen and (max-width : 1024px) {
    header{
        height: 90px;
        background: #008ed0;
        border-bottom: 14px solid #fff;
    }
    .header-slogan{
        width: 350px;
        height: 88px;
        background-image: url('../img/slogan2.png');
        left: 50%;
        margin-left: -175px;
        top: 0px;
    }
    .header-menu {
        display: none;
    }
    .header-menu {
        display: none;
        background: rgba(245, 113, 32, 0.79);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        z-index: 111;
        height: 100%;
        padding: 55px 45px 0 30px;
    }
    .header-menu li {
        float: none;
        margin: 0 0 15px 0;
        display: block;   
        text-align: left;
    }
    .header-menu li a {
        position: relative;
        color: #005cbc;
    }
    .header-menu .header-login-block {
        margin-top: 10px;
    }
    .header-menu .btn-angle a:before{
        left: -20px;
    }
    .header-menu .btn-angle a:after {
        right: -20px;
    }
    .header-menu .btn-angle.active a {
        height: auto;
        margin: 0px 24px;
    }
    .header-menu .header-login-block{
        display: block;
        box-sizing: border-box;
        position: relative;
        background: none;
        padding: 30px 0 0 32px;
    }
    .header-menu .header-login-block a{
        display: block;
        background: #005cbc;
        color: #fff;
        padding: 3px 6px;
        height: 36px;
        margin: 0 19px;
        box-sizing: border-box;
        font-size: 25px;
        text-decoration: none;
        font-style: italic;
    }
    .header-login-block a:before,
    .header-login-block a:after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        width: 21px;
        background: url('../img/btn-bg-blue-l.png') 0% 50% no-repeat transparent;
    }
    .header-login-block a:after{
        left: auto;
        right: -20px;
        background: url('../img/btn-bg-blue-r.png') 100% 0% no-repeat transparent;
    }    
    .wrap-header .menu-toggle{
        display: inline-block;
    }
    .header-logo {
        width: 180px;
        height: 54px;
        right: auto;
        left: 10px;
        top: 15px;
    }
    .content-index .index-prizes-1 {
        margin-top: -15px;
        height: 445px;
    }
    .content-index .index-prizes-1 .i-prize-text{
        margin-left: -110px;
        top: 30px;
    }
    .content-index .index-prizes-1 .i-prize-text span{
        font-size: 63px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(2){
        font-size: 50px;
        margin: -15px 0 0 70px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(3){
        margin: -10px 0 0 140px;
    }
    .content-index .index-prizes-2 {
        width: 100%;
        height: 1030px;
        margin-top: 0;
        border-top: 10px solid #fff;
        background: url('../img/bg.jpg') 50% 0 no-repeat #009de1;
    }
    .content-index .index-prizes-2 .i-prize-text-1 {
        left: 0;
        right: 0;
        top: 20px;
        font-size: 45px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-2{
        left: 0;
        right: 0;
        top: 450px;
        font-size: 53px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-3{
        right: 0;
        left: 0;
        bottom: 60px;
        font-size: 51px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-block-1{
        left: 50%;
        right: auto;
        bottom: auto;
        margin-left: -330px;
        top: 110px;
        width: 650px;
        height: 305px;
    }
    .content-index .index-prizes-2 .i-prize-block-2{
        right: auto;
        left: 50%;
        margin-left: -270px;
        top: 535px;
        width: 540px;
        height: 355px;
    }
    .content-index .index-prizes-2 .i-prize-arrow, .content-index .index-promo1-link_1, .content-index .index-promo1-link_2{display: none;} 
    .content-promo1 {
        margin-top: 0;
        padding-top: 20px;
    }
    .content-promo1 .promo1-step-1 .promo1-arrow {
        display: none;
    }
    .content-promo1 .promo1-step-1 {
        margin-right: 0;
        font-size: 35px;
        display: block;
        padding: 30px 0 0 210px;
        text-align: left;
        margin-left: 15%;
        margin-top: 50px;
    }
    .content-promo1 .promo1-step-1 .promo1-step-1-img {
        width: 200px;
        height: 125px;
        left: 0;
        top: 0;
        background-size: cover;
    }
    .content-promo1 {
        background-position: 25% 0%;
    }
    .content-promo1 .promo1-step-2 {
        font-size: 35px;
        text-align: left;
        display: block;
        margin-left: 25%;
        padding-top: 0;
        margin-top: 50px;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-img {
        width: 200px;
        height: 200px;
        top: -50px;
        left: 350px;
        background-size: cover;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1)>span {
        display: inline-block;
        text-align: left;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1)>span:nth-of-type(1) {
        font-size: 130%;
        padding-left: 8px;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-text>div:nth-of-type(1) {
        padding-left: 0;
    }
    .btn-promo1-note{
        position: absolute;
        left: 30px;
        top: -38px;
    }
    .promo1-note-text {
        background: #0084d1;
    }
    .btn-promo1-buy {
        position: absolute;
        right: 30px;
        top: -38px;
    }
    .content-promo2 .mehanika>div {
        font-size: 14px;
        padding-top: 70px;
        background-size: 85px;
    }
    .content-promo2 .mehanika>div:nth-of-type(4) {
        background-size: 65px 65px;
    }
    .content-promo2 .mehanika {
        margin: 20px 0;
    }
    .promo2-text-1, .promo2-text-2, .promo2-text-3 {
        font-size: 30px;
    }
    .content-shops .shops-title {
        font-size: 50px;
        margin: 30px auto;
        text-align: left;
        padding-left: 30px;
    }
    .content-shops .shop-list {
        padding-left: 15px;
    }
    .content-shops .shop-list .shop-item {
        width: 330px;
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .content-cars .car-list {
        padding-left: 40px;
    }
    #car-popup .car-img{
        width: auto;
    }
}

@media only screen and (max-width : 768px) {
    header{
        height: 52px;
        background: #008ed0;
        border-bottom: 7px solid #fff;
        z-index: auto;
    }
    .header-slogan{
        width: 175px;
        height: 42px;
        background-image: url('../img/slogan2.png');
        left: 50%;
        margin-left: -54px;
        top: 3px;
    }
    .header-logo {
        width: 100px;
        height: 29px;
        right: auto;
        left: 3px;
        top: 15px;
    }
    .footer-menu li {
        display: inline-block;
        padding: 8px 15px;
    }
    .btn-angle.active a {
        height: auto;
        margin: 0 30px;
    }
    .btn-angle.btn-angle-blue a:before, .btn-angle.btn-angle-blue a:after,
    .btn-angle.active a:before, .btn-angle.active a:after {
        background-size: cover !important;
        width: 32px;
    }
    .btn-angle.active a:before, .btn-angle.active a:after {
        width: 32px;
    }
    .content .content-menu li a {
        height: auto;
    }
    .content-cars .content-menu li a {
        padding: 2px 18px;
    }
    .content .content-menu .btn-angle {
        margin-bottom: 10px;
    }
    .wrap-header .menu-toggle{
        width: 27px;
        height: 27px;
        right: 5px;
        top: 14px;
        z-index: 112;
    }
    .content-index .index-prizes-1 {
        margin-top: 0;
        height: 445px;
        background-size: cover;
        background-position: 35% 0;
    }
    .content-index .index-prizes-1 .i-prize-text{
        margin-left: -80px;
        top: 30px;
    }
    .content-index .index-prizes-1 .i-prize-text span{
        font-size: 32px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(2){
        font-size: 27px;
        margin: 0px 0 0 20px;
    }
    .content-index .index-prizes-1 .i-prize-text span:nth-child(3){
        margin: 0px 0 0 50px;
    }
    .content-index .index-prizes-2 {
        width: 100%;
        height: 500px;
        margin-bottom: -80px;
        margin-top: 0;
        border-top: 10px solid #fff;
        background: url('../img/bg.jpg') 50% 0 no-repeat #009de1;
        background-size: cover;
    }
    .content-index .index-prizes-2 .i-prize-text-1 {
        left: 0;
        right: 0;
        top: 20px;
        font-size: 17px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-2 {
        left: 0;
        right: 0;
        top: 200px;
        font-size: 24px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-text-3 {
        right: 0;
        left: 0;
        bottom: auto;
        top: 415px;
        font-size: 21px;
        text-align: center;
    }
    .content-index .index-prizes-2 .i-prize-block-1 {
        left: 50%;
        right: auto;
        bottom: auto;
        margin-left: -155px;
        top: 50px;
        width: 291px;
        height: 140px;
    }
    .content-index .index-prizes-2 .i-prize-block-2 {
        right: auto;
        left: 50%;
        margin-left: -120px;
        top: 245px;
        width: 240px;
        height: 155px;
    }
    .content-index .index-prizes-2 .i-prize-arrow, .content-index .index-promo1-link_1, .content-index .index-promo1-link_2{display: none;} 
    .content-promo1 .promo1-title {
        display: block;
        width: 260px;
        height: 115px;
        margin: 30px auto 0 auto;
        background: url('../img/promo1-title.png') 50% 0% no-repeat transparent;
        background-size: cover;
    }
    .content-promo1 .promo1-steps {
        margin: -10px auto 0 auto;
        display: block;
        text-align: center;
        margin-left: 50%;
    }
    .content-promo1 .promo1-step-1 {
        margin-right: 0;
        font-size: 18px;
        padding: 18px 0 0 109px;
        margin-left: -146px;
        margin-top: 50px;
    }
    .content-promo1 .promo1-step-1 .promo1-step-1-img {
        width: 107px;
        height: 66px;
    }
    .content-promo1 .promo1-step-2 {
        font-size: 18px;
        display: inline-block;
        margin-left: -200px;
        padding-top: 0;
        margin-top: 50px;
    }
    .content-promo1 .promo1-step-2 .promo1-step-2-img {
        width: 115px;
        height: 118px;
        top: -36px;
        left: 98px;
    }
    .content-promo1 .promo1-step-2-text{
        margin-left: -90px;
    }
    .promo1-note-block {
        height: auto;
    }
    .promo1-note-text {
        display: block;
        margin: -17px auto 0 auto;
        width: 100%;
        height: auto;
        padding: 50px 15px 85px 15px;
        font-size: 18px;
        color: #fff;
    }
    .btn-promo1-note {
        display: none;
    }
    .btn-promo1-buy {
        position: absolute;
        right: auto;
        top: auto;
        bottom: 25px;
        left: 50%;
        margin-left: -89px;
    }
    .content-promo2 .promo2-title {
        text-align: left;
        font-size: 32px;
        margin-top: 30px;
        padding-left: 30px;
    }
    .content-promo2 .promo2-title span {
        vertical-align: top;
    }
    .content-promo2 .mehanika>div {
        font-size: 13px;
        padding-top: 0;
        padding-left: 93px;
        background-size: 85px;
        display: block;
        background-position: 0 0;
        height: 65px;
        line-height: 65px;
        vertical-align: middle;
        margin-bottom: 20px;
        text-align: left;
        width: 250px;
        box-sizing: border-box;
        margin-left: 20px;
    }
    .content-promo2 .promo2-prize-1 {
        display: inline-block;
        vertical-align: middle;
        background-image: url('../img/promo2-prize-1.png');
        width: 285px;
        height: 133px;
        background-size: cover;
    }
    .promo2-text-1, .promo2-text-2, .promo2-text-3 {
        font-size: 16px;
    }
    .promo2-text-3 {
        display: none;
    }
    .content-promo2 .promo2-prize-2 {
        width: 270px;
        height: 178px;
        background-size: cover;
    }
    .content-promo2 {
        padding-bottom: 0px;
        font-style: italic;
        color: #fff;
    }
    .content-shops .shops-title {
        font-size: 20px;
    }
    .content-shops .shop-list .shop-item {
        width: 260px;
        height: 170px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content-shops .shop-list {
        padding-left: 0;
    }
    .content-cars .car-list .car-item {
        margin-right: 0;
    }
    .content-cars .car-list {
        padding-left: 0px;
    }
    .content-shops .shop-list .shop-name {
        font-size: 20px;
        width: 220px;
    }
    .content-promo1 .promo1-title {
        margin: 0px auto 0 auto !important;
        width: 300px !important;
        height: 135px !important;
    }
    .content-prizes .prizes-title>span:before, .content-prizes .prizes-title>span:after {
        width: 50px;
    }
    .content-prizes .prizes-title>span {
        margin: 0 45px;
        padding: 3px 10px;
        font-size: 30px;
    }
    .content-prizes .prizes-title-3>span {
        font-size: 18px;
    }
    .content-prizes .prizes-title-3>span>span {
        font-size: 23px;
    }
    .content-prizes .week-prizes-block>div.week-prize-4 {
        background-position: 30% 20px;
    }
    .gallery-content.gallery-with-example:before {
        width: 290px;
        height: 243px;
    }
}


/* fix old styles*/

html, body {
    background: none !important;
    max-width: none;
}
header{
    box-sizing: content-box;
}
footer {
    margin: 0;
}
body.register .cars {
    //display: none;
}
body.password .container {
    color: #fff;
    margin-top: 20px;
}
body.register.locale-ru .forms label,
body.register .forms label,
body.register .forms small, 
body.register .forms p {
    font-family: "ImpactMy" !important;
    font-weight: normal;
}
#zoom .modal-dialog {
    height: auto;
}
.modal-body:after {
    content: '';
    display: block;
    clear: both;
}
.promo2.profile .modal-body .col-sm-pull-1 {
   // right: 8.333333%;
}
.promo2.profile #photoOK .modal-content {
    padding-bottom: 2vw;
}
@media only screen and (min-width : 1920px) {
    body.promo2.gallery .filters {
        margin: 30px 0 10px 623px;
    }
}
.gallery-content.gallery-with-example:before {
    content: 'ПРИМЕР';
    overflow: hidden;
    width: 370px;
    display: inline-block;
    float: none;
    vertical-align: top;
    background: url(../img/example-gallery-big.jpg) 50% 5px no-repeat #fff;
    height: 237px;
    margin: 0 15px 30px 15px;
    box-sizing: border-box;
    color: #f36f21;
    text-align: left;
    padding-top: 200px;
    font-size: 24px;
    padding-left: 15px;
}
.gallery-preloader {
    position: relative;
    height: auto;
    padding-top: 50px;
}
.gallery-preloader .message {
    position: relative;
    width: 100%;
    top: 20px;
}
@media (max-width: 1367px){
    .gallery-preloader {
        top: auto;
    }
}